*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#form_auth{
    max-width: 300px;
    margin: 100px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
}

.form_title{
    border-bottom: 1px solid #ddd;
    color: #898989;
    padding-bottom: 2px;
    font-size: 15px;
}

form label{
    color: #676778;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

form input{
    width: 98%;
    padding: 2px 1%;
    margin-top: 3px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.form_item{
    width: 100%;
    margin: 10px 0;
}

form button{
    width: 150px;
    text-align: center;
    padding: 3px;
    font-size: 15px;
    background-color: #357;
    color: #fff;
    border: 0;
    border-radius: 2px;
    cursor: pointer;

    transition: background-color 0.2s
}

form button:hover{
    background-color: #579;
}
